:root {
  --bg-green: #006b75;
  --bg-orange: #fec536;
  --text-color: #fff;
  --text-color-rgb: 255, 255, 255;
  --bg-orange-rgb: 255, 153, 0;
  --bg-green-rgb: 0, 107, 117;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-green);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  /* height: ; */
  color: var(--bg-orange);
  padding: 50px;
}

.header .header-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.header .header-container span {
  font-weight: 800;
  font-size: 18px;
}

.about-container {
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container .about-image img {
  width: 400px;
  /* height: 400px; */
  border-radius: 50%;
}

.about-container .about-text {
  padding: 20px;
  /* text-align: center; */
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.about-container .about-text h2 {
  font-size: 30px;
  font-weight: 800;
}

.about-container .about-text p {
  font-size: 18px;
  font-weight: 400;
}

.row-2 {
  display: flex;
  justify-self: start;
  align-items: center;
  padding: 0 100px;
  width: 80%;
  /* margin: -40px; */
  gap: 100px;
}

.row-2 img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.row-2 .small-text .small {
  font-size: 14.5px;
  font-weight: 100 !important;
}

.svg-tag {
  z-index: -1 !important;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

*::-webkit-scrollbar{
    display: none;
    width: 0 !important;
    height: 0 !important;
}